<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}My Blog{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="/create_blog">Create Blog</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/published_blogs">Published Blogs</a>
          </li>
        </ul>
     </div>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>