{% extends "blog/base.html" %}
{% block content %}

{% for article in page_obj %}
    {# Each "article" is a Article model object. #}
    <h2 class="center publishedBlogsHeader">{{article.title}} <strong> by {{ article.author }}</strong></h2>
    <p class="articleContent center">{{ article.content }}</p><br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<style>
    .center {
        text-align: center;
    }

    .articleTitleSection{
        margin: 1%
    }

    .articleContent{
        margin-left: 10%;
        margin-right: 10%;
        font-size: larger;
    }

    .publishedBlogsHeader {
        margin: 2.5%;
    }

    .blackBackground {
        background-color: black;
        color: white;
    }
</style>

{% endblock content %}