{% extends "blog/base.html" %}
{% block content %}

<h1 class="center publishedBlogsHeader">Published Blogs</h1>

<ul>
    {% for article in articles %}
    <h5 class="articleTitleSection"><a href="/individual_blog/?page={{forloop.counter}}">{{ article.title }}</a><br> by: {{article.author}}</h5>
    {% endfor %}
</ul>


<style>
    .center {
        text-align: center;
    }

    .articleTitleSection{
        margin: 1%
    }

    .publishedBlogsHeader {
        margin: 2.5%;
    }

    .blackBackground {
        background-color: black;
        color: white;
    }
</style>

{% endblock content %}